.job-list {

	height: 100%;
	padding: 40px 24px 60px;
	background-color: var(--ezycheck-white);
	box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);

	&__header {

		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 16px;

		&__text {

			height: 36px;
			font-size: 24px;
			font-weight: 500;
			text-align: left;
			color: var(--primary-dark-grey);
			display: flex;
		}

		&__search-bar {

			// width: 100%;
		}
	}

	&__body {

		min-height: 100px;
		padding: 0 8px 0;
	}

	&--modified {

		margin-top: 16px;
	}
}


html, body, div#root {
	// background-color: #f9f9fc;
	background-color: #f8f8f8;
}