@import "../index.scss";

@include desktop {

	.hanging {

		// width: 100%;
		display: flex;
		height: min-content;
		// justify-content: center;
		padding: 0 150px;
		// padding: 0 0 0 150px;
		margin: 16px 0;
	}
}

@include tablet {
	
	.hanging {

		// width: 100%;
		display: flex;
		height: min-content;
		// justify-content: center;
		padding: 0 16px;
		// padding: 0 0 0 150px;
		margin: 16px 0;
	}
}

@include mobile {

	.hanging {

		// width: 100%;
		display: flex;
		height: min-content;
		// justify-content: center;
		padding: 0 16px;
		// padding: 0 0 0 150px;
		margin: 16px 0;
	}
}
