@import "../index.scss";

@include desktop {
	
	.job-detail-page {

		margin: 39px 80px 100px;
	}
}
@include tablet {

	
	.job-detail-page {

		margin: 39px 80px 100px;
	}
}
@include mobile {
	
	.job-detail-page {

		margin: 39px 16px 100px;
	}
}
