@import "../index.scss";

@include monitor {
	
	.job-detail-page {

		width: 70%;
		margin: 39px auto 100px;
	}
}

@include pc {
	
	.job-detail-page {

		width: 80%;
		margin: 39px auto 100px;
	}
}

// @include desktop {
	
// 	.job-detail-page {

// 		margin: 39px 80px 100px;
// 	}
// }

@include tablet {

	
	.job-detail-page {

		margin: 39px 80px 100px;
	}
}

@include mobile {
	
	.job-detail-page {

		margin: 39px 16px 100px;
	}
}
