.page {

	display: flex;
	justify-content: flex-end;
	margin: auto 10%;
	align-items:baseline;

	&__text {

		width: 153px;
		height: 20px;
		margin: 0 19px 0 0;
		font-family: Poppins;
		font-size: 13px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #757575;
	}

	select {
		
		border: none;
		outline: none;
		font-family: Poppins;
		font-size: 13px;
		text-align: center;
		color: #4a4a4a;	

		&.page__range {

			width: 40px;
			height: 20px;
		}

		.page__range__value, #paging__ListRecruitment {

			// font-family: Poppins;
			// font-size: 13px;
			text-align: center;
			// color: #4a4a4a;			
		}
	}

	&__number {

		max-width: 100px;
		height: 20px;
		margin: 0 15.5px 0 19px;
		font-family: Poppins;
		font-size: 13px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #bdbdbd;
	}

	&__buttons {

		width: 80px;
		display: flex;
		justify-content: space-between;
		margin-left: 15.5px;

		i {
			
			width: 1px;
			height: 12px;
		}
	}
}


.center { 
	
	display: flex;
	justify-content: center;
}