* {
	
	font-family: Roboto;
}

.modalRequest {

	width: 746px;
	height: 586px;
	flex-grow: 0;
	margin: 0 0 0 45px;
	padding: 16px 0 8px;
	border-radius: 4px;
	background-color: var(--ezycheck-white);
}

.modal-dialog {

	max-width: 746px;
	margin: auto;
	margin-top: 93px;
}

label {

	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.close {

	border: none;
	background-color: initial;
	padding:
	
	span {

		width: 20px;
		height: 20px;
	}
}

input {

	&.input {

		&--borderless {

			border: none;
			outline: none;
			border-bottom: 1px solid #e9eaf9;
		}

	}
}

.request-recruit {

	&__row {

	}

	&__row:first-child {

		margin-top: 8px;
		height: 100%;
	}

	&__col {

		margin-bottom: 15px;
		flex-grow: 0;
		font-family: Roboto;
		font-size: 13px;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: var(--primary-dark-grey);

		input, select, textarea {

			width: 100%;
			border: none;
			outline: none;
		}

		&:nth-child(odd) {

			font-weight: 500;
		}

		&:nth-child(even) {

			text-align: left;
		}
	}
}

.rdw-editor-main {

	height: 200px;
}