* {
	
	font-family: Roboto,Helvetica Neue,sans-serif!important;
	--ezycheck-white: #ffffff;
	--primary-purple: #5d78ff;
	--primary-dark-grey: #434349;
	--primary-medium-grey: #757575;
	--login-blue: #1399fb;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button, input {

	overflow: visible;
}

.spacing {

	&-xxs { 

		margin: 2px;
	}

	&-xs { 

		margin: 4px;
	}

	&-s { 

		margin: 6px;
	}

	&-m { 

		margin: 8px;
	}

	&-l { 

		margin: 12px;
	}
}

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1440px;
$desktop-x-large-width: 2560px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
//   @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin pc {
  @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-large-width - 1px}) {
    @content;
  }
}

@mixin monitor {
  @media (min-width: #{$desktop-large-width}) {
    @content;
  }
}

@mixin cine{
  @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-x-large-width}) {
    @content;
  }
}

@mixin theater {
  @media (min-width: #{$desktop-x-large-width}) {
    @content;
  }
}

// ::-webkit-scrollbar-track
// {
// 	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
// 	// background-color: #F5F5F5;
// 	background-color: transparent;
// }

// ::-webkit-scrollbar
// {
// 	width: 4px;
// 	background-color: transparent;
// }

// ::-webkit-scrollbar-thumb
// {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// 	background-color: #ccc;
// }