* {
	
	font-family: Roboto;
	--ezycheck-white: #ffffff;
	--primary-purple: #5d78ff;
	--primary-dark-grey: #434349;
	--primary-medium-grey: #757575;
	--login-blue: #1399fb;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.spacing {

	&-xxs { 

		margin: 2px;
	}

	&-xs { 

		margin: 4px;
	}

	&-s { 

		margin: 6px;
	}

	&-m { 

		margin: 8px;
	}

	&-l { 

		margin: 12px;
	}
}

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1440px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// @mixin desktopLarge {
//   @media (min-width: #{$desktop-large-width}) {
//     @content;
//   }
// }