@import "../index.scss";

@include monitor {
	
	.job-list-page {
	
		width: 70%;
		margin: 60px auto;
	}
}

@include pc {
	
	.job-list-page {
	
		width: 80%;
		margin: 60px auto;
	}
}

// @include desktop {

// 	.job-list-page {
	
// 		margin: 60px 80px;
// 	}
// }

@include tablet {

	.job-list-page {
	
		margin: 53px 16px 21px;
	}
}

@include mobile {

	.job-list-page {
	
		margin: 53px 16px 21px;
	}
}
