.arrow, .arrow__left {

	width: 16px;
	height: 16px;
	flex-grow: 0;
	object-fit: contain;

	&__right {
		transform: rotate(-180deg);
	}
}

.timeline {

	display: flex;
	align-items: center;
	// vertical-align: middle;
	gap: 8px;
	// margin: auto;
	padding: 0;

	&__button__arrows {

		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		outline: none;
		
		& button.btn:focus {
			
			outline: none;
		}
		
		.btn-check:focus + .btn, .btn:focus {
			outline: 0;
			box-shadow: none;
		}
	}

	&__value {

		display: flex;
		flex-grow: 0;
		height: max-content;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 500;
		color: var(--primary-dark-grey);
		align-content: center;
		align-items:baseline;
		padding-bottom: 6px;
	}

	&--middle-vertically {

		align-items: flex-end;
	}
}