.arrow, .arrow__left {

	width: 16px;
	height: 16px;
	flex-grow: 0;
	object-fit: contain;

	&__right {
		transform: rotate(-180deg);
	}
}

.timeline {

	display: flex;
	// flex-direction: row;
	align-items: center;
	vertical-align: middle;
	gap: 8px;
	margin: auto;
	padding: 0;

	&__value {

		display: flex;
		flex-grow: 0;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 500;
		color: var(--primary-dark-grey);
		align-content: flex-end;
	}

	&--middle-vertically {

		align-items: flex-end;
	}
}