.recruitment {
	
	width: 100%;
	height: 100%;
	background-color: #f9f9fc;
}

.hanging {

	// width: 100vw;
	display: flex;
	height: min-content;
	// justify-content: ;

	&__head { 

	}

	&.hanging__head {
		height: max-content;
	}
}