@import "../index.scss";


@media (min-width: #{$desktop-large-width}) {
	
	.recruitment {
	
		width: 100%;
		height: max-content;
		background-color: #f9f9fc;
		display: flex;
	
		&__wrapper {
	
			&__left {
	
				min-width: 75%;
				padding-right: 16px;
			}
			
			&__right {
				
				min-width: 25%;
			}
		}
	}
}

@include desktop {

	.recruitment {
	
		width: 100%;
		height: max-content;
		background-color: #f9f9fc;
		display: flex;
	
		&__wrapper {
	
			&__left {
	
				min-width: 70%;
				padding-right: 16px;
			}
			
			&__right {
				
				min-width: 30%;
			}
		}
	}
}

@include tablet {

	.recruitment {
	
		width: 100%;
		height: max-content;
		background-color: #f9f9fc;
		
		&__wrapper {
	
			&__left {
	
				min-width: 100%;
			}
			
			&__right {
				
				margin-top: 16px;
				min-width: 100%;
			}
		}
	}
}

@include mobile {

	.recruitment {
	
		width: 100%;
		height: max-content;
		background-color: #f9f9fc;
		
		&__wrapper {
	
			&__left {
	
				min-width: 100%;
			}
			
			&__right {
				
				margin-top: 16px;
				min-width: 100%;
			}
		}
	}
}