.button {
	
	width: 121px;
	height: 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4px;
	padding: 8px 16px;
	border-radius: 30px;
	border: solid 1px var(--primary-purple);					

	&__icon {

		width: 16px;
		// height: 16px;
		flex-grow: 0;
		object-fit: contain;
	}

	&__text {

		width: 69px;
		height: 16px;
		flex-grow: 0;
		font-family: Roboto;
		font-size: 13px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.23;
		letter-spacing: normal;
		text-align: left;
		color: var(--primary-purple);	
	}
}

.btn {
	
	&:focus, &:active:focus, &.active:focus{
	
		outline:none;
		box-shadow:none;
	}
	
	&:hover .table__rows__behavior__button__text, 
	&:focus .table__rows__behavior__button__text, 
	&:active .table__rows__behavior__button__text, 
	&.active .table__rows__behavior__button__text, 
	&.table__rows__behavior__button__text:hover {
		
		color: #fff;
	}
}