* {

	font-family: Roboto;
}

.stats {

	// width: 851px;
	// height: 229px;
	// width: calc(100% - 273px);
	// width: calc(100vw - 273px - 16px -300px);
	margin: 22px 16px 16px 150px;
	padding: 0 0 12px;
	border-radius: 4px;
	background-color: var(--ezycheck-white);
	box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.1);
	flex-grow: 4;

	&__header {

		// width: 851px;
		width: 100%;
		height: 40px;
		margin: 0 0 12px;
		padding: 11px 0 0;
		border-radius: 4px;

		&__text {
			
			width: 265px;
			height: 16px;
			margin: 1px 0 11px 16px;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 500;
			text-align: left;
			color: #323234;
			display: flex;
			justify-content: flex-start;
		}
		
		&--left-padding {

			display: flex;
			padding-left: 16px;
			justify-content: space-between; 
		}
		
		&--middle-vertically {
			
			display: flex;
			padding-top: 1px;
			padding-right: 35px;
		}
	}

	&__charts {

		&__design {

			font-family: Roboto;
		}
	}
}