@import "../index.scss";

@include desktop {

	.job-item {

		// min-height: 106px;
		height: max-content;
		display: flex;
		flex-direction: row;
		padding: 24px 24px 30px 4px;
		border-bottom: 1px solid #ccc;
		justify-content: space-between;
	
		&__info {
	
			width: 65%;
	
			&__header {
	
				display: flex;
				min-height: 23px;
				font-size: 20px;
				font-weight: 550;
				align-items: flex-start;
				color: var(--login-blue);
				margin-bottom: 16px;
			}
			
			&__text {
	
				height: 16px;
				font-size: 14px;
				text-align: left;
				color: var(--primary-dark-grey);
			}
	
			&__label {
				
				color: #959595;
			}
		
			&--flex-end {
	
				display: flex;
				align-items: flex-end;
			}
	
			&--gold {
				color: #ffa117;
			}

			&--modified {

				height: max-content;
				margin-top: 8px;
			}
		}
	
		&__action {
	
			display: flex;
			align-items: center;
	
			&__button.btn {
	
				width: 140px;
				height: 40px;
				display: flex;
				padding: 12px;
				border-radius: 4px;
				color: var(--login-blue);
				border: solid 1px var(--login-blue);
				align-items: center;
				justify-content: center;

				&:hover {

					color: var(--login-blue);
				}
			}
	
			button.btn.btn-outline-primary.job-item__action__button:hover {
	
				background-color: transparent;
			}
		}
	
	}
}

@include tablet {

	.job-item {

		// min-height: 118px;
		// min-height: max-content;
		height: max-content;
		display: flex;
		flex-direction: row;
		margin-bottom: 16px;
		padding: 16px 16px 16px 4px;
		border-bottom: 1px solid #ccc;
		justify-content: space-between;
	
		&__info {
	
			width: 100%;
			height: max-content;
	
			&__header {
	
				display: flex;
				min-height: 23px;
				font-size: 20px;
				font-weight: 550;
				align-items: flex-start;
				color: var(--login-blue);
				margin-bottom: 16px;
			}
			
			&__text {
	
				height: 16px;
				font-size: 14px;
				text-align: left;
			}
	
			&__label {
				
				color: #959595;
			}
		
			&--flex-end {
	
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}

			&--modified {

				// display: flex;
				height: max-content;
				margin-top: 8px;
			}
	
			&--gold {
				color: #ffa117;
			}
		}
	
		&__action {
	
			display: flex;
			align-items: center;
	
			&__button.btn {
	
				width: 140px;
				height: 40px;
				display: flex;
				padding: 12px;
				border-radius: 4px;
				color: var(--login-blue);
				border: solid 1px var(--login-blue);
				align-items: center;
				justify-content: center;

				&:hover {

					color: var(--login-blue);
				}
			}
	
			button.btn.btn-outline-primary.job-item__action__button:hover {
	
				background-color: transparent;
			}
		}
	
	}
}

@include mobile {

	.job-item {

		// min-height: 118px;
		height: max-content;
		padding: 16px 16px 16px 4px;
		border-bottom: 1px solid #ccc;
	
		&__info {
	
			width: 100%;
	
			&__header {
	
				display: flex;
				min-height: 23px;
				font-size: 20px;
				font-weight: 550;
				align-items: flex-start;
				color: var(--login-blue);
				margin-bottom: 8px;
				white-space: normal !important;
			}
			
			&__text {
	
				height: 16px;
				font-size: 14px;
				text-align: left;
				margin-top: 6px;
				white-space: normal !important;
			}

			&__label {
				
				color: #959595;
			}
		
			&--flex-end {
	
				display: flex;
				align-items: flex-end;
				flex-direction: column;
				margin-bottom: 16px;
			}
	
			&--gold {
				color: #ffa117;
			}

			&--modified {

				height: max-content;
				margin-top: 8px;
			}
		}
	
		&__action {
	
			display: none;
			align-items: center;
	
			&__button.btn {
	
				width: 140px;
				height: 40px;
				display: flex;
				padding: 12px;
				border-radius: 4px;
				color: var(--login-blue);
				border: solid 1px var(--login-blue);
				align-items: center;
				justify-content: center;

				&:hover {

					color: var(--login-blue);
				}
			}
	
			button.btn.btn-outline-primary.job-item__action__button:hover {
	
				background-color: transparent;
			}
		}
	
	}
}
