@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../index.scss";
// @import "react-draft-wysiwyg/dist/react-draft-wysiwyg.css";
@import 'react-summernote/dist/react-summernote.css';

html, body, div#root {

	background-color: #f9f9fc;
}

@include mobile {

	html {

		min-width: 100%;
	}
}

@include tablet {

	html {

		min-width: 100%;
	}
}

@include desktop {

	html {

		min-width: $desktop-width;
	}
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
