.job-detail {

	height: 100%;
	border-radius: 4px;
	margin: 39px 80px 100px;
	padding: 64px 40px 70px 48px;
	background-color: var(--ezycheck-white);
	box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
}