.chart {

	display: flex;
	justify-content: center;
	// min-height: 210px;

	&__table {
		
		// width: 801px;
		width: 90%;
		min-height: 210px;
		// margin: 12px 34px 29px 16px;
		// padding: 0 13px 12px 18px;
	}
}